In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
housing = pd.read_csv("realtor-data.csv")
housing = housing.drop(columns=['zip_code', 'sold_date'])
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613159 entries, 0 to 613158
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   status        613159 non-null  object
 1   price         613159 non-null  float64
 2   bed           507459 non-null  float64
 3   bath          513691 non-null  float64
 4   acre_lot      474193 non-null  float64
 5   full_address  613159 non-null  object
 6   street        612227 non-null  object
 7   city          613095 non-null  object
 8   state         613159 non-null  object
 9   house_size    440048 non-null  float64
dtypes: float64(5), object(5)
memory usage: 46.8+ MB

In [12]:
# Create Test Set

def shuffle_split_data(data, test_ratio):
    shuffled_indices = np.random.permutation(len(data))
    test_set_size = int(len(data) * test_ratio)
    test_indices = shuffled_indices[:test_set_size]
    train_indices = shuffled_indices[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

train_set, test_set = shuffle_split_data(housing, 0.2)

In [13]:
housing.head()

,status,price,bed,bath,acre_lot,full_address,street,city,state,house_size
0,for_sale,105000.0,3.0,2.0,0.12,"Sector Yahuecas Titulo # V84, Adjuntas, PR, 00601",Sector Yahuecas Titulo # V84,Adjuntas,Puerto Rico,920.0
1,for_sale,80000.0,4.0,2.0,0.08,"Km 78 9 Carr # 135, Adjuntas, PR, 00601",Km 78 9 Carr # 135,Adjuntas,Puerto Rico,1527.0
2,for_sale,67000.0,2.0,1.0,0.15,"556G 556-G 16 St, Juana Diaz, PR, 00795",556G 556-G 16 St,Juana Diaz,Puerto Rico,748.0
3,for_sale,145000.0,4.0,2.0,0.10,"R5 Comunidad El Paraso Calle De Oro R-5 Ponce,...",R5 Comunidad El Paraso Calle De Oro R-5 Ponce,Ponce,Puerto Rico,1800.0
4,for_sale,65000.0,6.0,2.0,0.05,"14 Navarro, Mayaguez, PR, 00680",14 Navarro,Mayaguez,Puerto Rico,NaN

In [18]:
# standard correlation coefficient (Pearson's r)

corr_matrix = housing.corr(numeric_only=True)
corr_matrix['price'].sort_values(ascending=False)

# we can see that there is a weak positive correlation between price and bedrooms, bathrooms, and house size

price         1.000000
bath          0.296602
house_size    0.195322
bed           0.184425
acre_lot      0.007549
Name: price, dtype: float64